body {
      font-familt: sans-serif;
      text-align: center;
      background-color: #3298a2;
}
#shape {
      width: 200px;
      height: 200px;
      background-color: red;
      display: none;
      position: relative;
}
#selectionBox {
      width: 1400px;
      height: 800px;
      border: 1px solid black;
      margin: 0px auto;
      background-color: white;
      position: relative;
      float: left;
      margin: 0 0 0 260px;

}
#stats {
      position: relative;
      float: left;
}
.bold {
      font-weight: bold;
}
.cursor {
      cursor: none;
}
